body {
    color:cyan;
  }
.navbar {
    padding 1rem;
    background-color: purple;
  }
.btn-primary:hover {

    background-color: blue;

    color: white;
  }
.hero-background-img {
    background-image: url("bkgh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.jumbotron {
  padding-bottom: 400px;
  padding-top: 250px;

  }
#Soz {
  color: #3f3242;
}
.lead {
  color: #3f3242;
}